.navbar-color {
    background-color: rgb(109, 109, 120);
    height: 50px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  gap: 50px; 
 }


.search-icon{
    position:absolute;
    z-index: 10;
    left: 1;
    right: 40%;
    color: blue;
}

.div {
    display: flex;

   
    align-items: center;
    padding: 10px;
    /* Ajoutez d'autres styles au besoin */
  }
  
  .byn-btn-primary{
    margin-left: auto; /* Cela pousse l'icône vers la droite en utilisant la marge automatique */
  }
  